/*
Summer Turner
CSCI 342 Web Scripting, Fall 2017
A style sheet for penguins.html.
*/

#gameholder {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#title {
    width: 600px;
    height: 150px;
    background-image:url('penguin_pngs/penguin_title.png');
}

.penguin1:hover {
    background-image:url('penguin_pngs/mound_1_hover.png');
    cursor: pointer;
}

.penguin1:active {
    background-image:url('penguin_pngs/penguin_1.png');
}

.penguin1 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('penguin_pngs/mound_1.png');
}

.yeti:hover {
    background-image:url('penguin_pngs/mound_9_hover.png');
    cursor: pointer;
}

.yeti:active {
    background-image:url('penguin_pngs/yeti.png');
}

.yeti {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('penguin_pngs/mound_9.png');
}
